@model List<MusicApp.Models.ArtistsViewModel>
@{
    ViewBag.Title = "ARTISTS";
}

<h2>@ViewBag.Title</h2>
<p>
    <a class="btn btn-outline-success" asp-action="Create">Create Artist</a>
</p>
<br />
@using (Html.BeginForm("Search", "Artists", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <label class="col-md-2 control-label">Search Artist</label>
    <div class="col-md-10">
        <input type="text" name="SearchText" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-outline-danger" name="decision" value="Test">SEARCH</button>
    <a class="btn btn-outline-dark" asp-action="Index">Clear Search</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ARTIST NAME
            </th>
            <th>
                CREATED DATE
            </th>
            <th>
                UPDATED DATE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">VIEW</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">EDIT</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
